<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5p [%c] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>test-server.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %-5p [%c] %m%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

   <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
 <!--   <jmxConfigurator/>-->

</configuration>
